<!DOCTYPE html>
<html>
	<head>
		<!-- Google Font  -->
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
		<!-- FontAwsome -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<!-- Header -->
		<header id="main_nav" class="clearfix">
			<%= link_to "Blog Web", root_path, class:"name" %>
			<nav>
				<%= link_to "Articles", posts_path %>
				<a href="#">Projects</a>
				<a href="#">Contact</a>
			</nav>
		</header>
		<%= yield %>
		<!--  Footer   -->
		<footer id="main_footer">
			<p class="copyright">&copy;2016 Muslim Zabirov</p>
			<nav>
				<a href="https://www.facebook.com/zabirovmuslim" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="https://www.instagram.com/muzudre" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				<a href="https://www.github.com/muzudre" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
			</nav>
		</footer>
	</body>
</html>